body {
    margin: 0px;
}
.main-container {
    width: auto;
    display: flex;
    flex-direction: row;
}

input {
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* 사이드 바 */
.sidebar {
    width: 20%;
    min-height: 800px;
    padding: 20px;

    align-items: center;
    text-align: center;

    border-right: 1px solid #bcbcbc;
    background-color: cornflowerblue;
}

/* 내 이미지 */
img {
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
    border: 2px solid #bcbcbc;
    border-radius: 50%;
}

/* 부가설명 */
.myImg > span {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
}

.sidebar > hr {
    border-style: dashed;
    color: white;
    margin-top: 20px;
    margin-bottom: 60px;
}

/* 연락처 */
.commu > i {
    display: block;
    font-size: 60px;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.commu > i:hover {
    font-size: 66px;
}

/* 주 내용 */
.main-content {
    width: 80%;
}

/* 헤더 */
.main-header {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 15px;
    border-bottom: 1px solid #bcbcbc;
    align-items: center;
}

.main-header > span {
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
}

.main-header > label {
    margin-right: 20px;
    transition: all 0.5s ease;
}

#aboutme:checked ~ .tab1,
#project:checked ~ .tab2,
#activity:checked ~ .tab3,
.main-header > label:hover {
    color: cornflowerblue;
    border-bottom: 1px solid cornflowerblue;
}

.main-header > ul {
    list-style: none;
}

.main-header > ul > li {
    display: inline-block;
    margin-right: 20px;
    transition: all 0.5s ease;
}

.main-container > ul > li:visited,
.main-header > ul > li:hover {
    font-size: 20px;
}

.content {
    padding: 25px;
}

.content > div {
    margin-bottom: 40px;
}

.content ~ h2 {
    border: 1px solid skyblue;
}

.main-list > li {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
}

.main-list > li::before {
    padding-right: 10px;
    color: cornflowerblue;
    font-family: "fontawesome";
    content: "\f205";
}

.sub-list {
    margin-left: 10px;
    padding-left: 30px;
    border-left: 1px dashed #bcbcbc;
}
.sub-list > li {
    margin: 5px auto;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 900px) {
    .main-container {
        display: block;
    }
    .sidebar {
        width: auto;
        min-height: auto;
    }
    .sidebar > .myImg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-content {
        width: auto;
    }
}
