.main-container {
    width: auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

.main-header {
    width: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #bcbcbc;
    /* margin-bottom: 10px; */
}

.main-header > h1 {
    font-size: 20px;
    margin: 0 auto;
}

input {
    display: none;
}

.sidebar {
    width: auto;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #bcbcbc;
}

.sidebar > .icon {
    display: none;
}

.sidebar > .tab {
    margin: 0 auto;
    font-size: 15px;
}

.sidebar > .tab > label {
    margin: auto 10px;
    /* padding-left: 0px; */
}

.main-content {
    width: auto;
    border: 1px solid #bcbcbc;
    padding: 5px;
    /* align-items: center; */
    text-align: none;
}

.footer {
    margin-top: 20px;
    border: 1px solid #bcbcbc;
}

@media (min-width: 970px) {
    .main-container {
        margin: 10px auto;
        padding: 10px;
        border: none;
    }

    .main-content {
        width: 70%;
        margin: 0 auto;
        border: none;
    }

    .sidebar > .tab > #tab-1:checked + .main-content > .aboutme,
    #tab-2:checked ~ .main-content > div:nth-child(2),
    #tab-3:checked ~ .main-content > div:nth-child(3),
    #tab-4:checked ~ .main-content > div:nth-child(4) {
        display: block !important;
    }

    .main-content > div {
        display: none;
    }

    .sidebar {
        width: 10%;
        padding: 0px;
        margin-bottom: 20px;

        float: left;
        border: none;
        border-right: 1px solid #bcbcbc;

        text-align: start;
        transition: all 0.5s ease;
    }

    .sidebar > .icon {
        display: block;
        margin-bottom: 20px;
        font-family: "fontawesome";
        content: "\f7a4";
        transition: opacity 0.5s ease;
    }

    .sidebar > .icon:hover {
        font-family: "fontawesome";
        content: "\f7a4";
        opacity: 0.3;
    }

    .sidebar > .tab {
        overflow: hidden;
        height: 0px;
        padding-left: 0px;
        list-style: none;
        font-size: auto;
        transition: all 1s ease;
    }

    .sidebar > .tab > label {
        height: 0px;

        margin: 0px;
        margin-bottom: 10px;
        padding-left: 10px;

        border-left: 1px solid #111;

        overflow: hidden;
        transition: all 1s ease;
    }

    #menu:checked ~ .tab,
    #menu:checked ~ .tab > label {
        display: block;
        height: auto;
    }

    .sidebar > .tab > label:hover {
        background-color: black;
        color: white;
    }

    .footer {
        clear: both;
        padding: 20px;
        border: 1px solid #bcbcbc;
    }
}
