.layout {
    display: grid;
    gap: 4px;
    grid-template-rows: 40px 40px auto 60px 60px 40px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "sidebar" "main" "widget" "statistics" "footer";
    height: 100vh;
    text-align: center;
}

@media (min-width: 480px) {
    .layout {
        display: grid;
        grid-template-rows: 40px auto 80px 40px;
        grid-template-columns: 160px auto auto;
        grid-template-areas:
            "header header header"
            "sidebar main main"
            "sidebar widget statistics"
            "footer footer footer";
    }
}

header {
    grid-area: header;
    background-color: blueviolet;
}

nav {
    grid-area: sidebar;
    background-color: yellow;
}

main {
    grid-area: main;
    background-color: aquamarine;
}

.widget {
    grid-area: widget;
    background-color: darkorange;
    width: 100%;
}

.statistics {
    grid-area: statistics;
    background-color: blanchedalmond;
    width: 100%;
}

footer {
    grid-area: footer;
    background-color: salmon;
}
