@charset "utf-8";

header {
    width: 1080px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: x-large;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: x-large;
}
